.body__apprentissage {
	background: url("../../assets/img/background.png");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

/* header */

.header {
	display: flex;
	height: 7.5vh;
	background-color: white;
}

.header__logo {
	width: 3.5vw;
	height: 2.335vw;
	margin-top: 1.15vw;
}

.header__dashboard {
	width: 10.842vw;
	display: flex;
	margin-left: 7.339vw;
}

.dashboard {
	margin: auto;
}

.header__progress {
	width: 18.849vw;
	display: flex;
	background-color: #434559;
	color: white;
}

.progress {
	margin: auto;
}

.header__account {
	margin-left: 25.021vw;
	display: flex;
}

.account__picture {
	width: 1.251vw;
	height: 2.314vh;
	margin: auto;
}

.account__name {
	margin: auto;
	margin-left: 0.834vw;
}

.margin-left {
	margin-left: 7vw;
}

section {
	color: white;
	margin-left: 8%;
}

.title h2 {
	font-size: 34px;
	font-weight: bold;
	letter-spacing: 1.26px;
	margin: 2% 0%;
}

.title p {
	font-size: 14px;
	font-weight: lighter;
	letter-spacing: 0.52px;
	margin-bottom: 2%;
}

.profil {
	background: url("../../assets/img/background-profil.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	width: 85vw;
	border-radius: 6px;
	margin-bottom: 4%;
}

.profil__avatar {
	position: relative;
	margin-right: 5%;
}

.avatar__background {
	position: relative;
	margin-left: 10%;
}

.avatar__pen img {
	width: 3.2vw;
	position: absolute;
	top: 5%;
	left: 80%;
}

.avatar__img {
	position: absolute;
	top: 28%;
	left: 36%;
}

.profil__text {
	display: flex;
	width: 100%;
}

.text__modifier {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 10px;
	margin-right: 20px;
}

.text__modifier p {
	color: #848484;
	font-size: 12px;
	letter-spacing: 0.44px;
}

.text__modifier img {
	margin-left: 15px;
}

.info__name {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.44px;
	margin-top: 13%;
	margin-bottom: 7%;
}

.info__mail {
	margin-bottom: 12%;
	font-size: 10px;
	letter-spacing: 0.44px;
}

.info__logo {
	width: 12vw;
	display: flex;
	justify-content: space-between;
}

.training {
	display: flex;
	width: 85vw;
	margin-top: 3%;
}

.training h2 {
	font-size: 14px;
	letter-spacing: 0.52px;
	margin-bottom: 8%;
	width: 50%;
}

.training__inprogress {
	margin-right: 3%;
}

.inprogress__advancement {
	background-color: white;
	color: #434559;
	width: 33.3vw;
	height: 10vw;
	border-radius: 6px;
	margin-bottom: 5%;
	overflow: hidden;
}

.advancement__background {
	background: url("../../assets/img/background-inprogress.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.81px;
	width: 33.4vw;
	height: 4vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.advancement__background p {
	padding-left: 5%;
	padding-right: 10%;
	color: white;
}

.advancement__text {
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0% 5%;
}

.advancement__text img {
	width: 30vw;
	height: 1vw;
}

.inprogress__add {
	background-color: #434559;
	width: 33.4vw;
	height: 8vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	border-radius: 6px;
}

.add__container {
	height: 13vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.add__container img {
	width: 2vw;
}

.text__container {
	display: flex;
	margin-bottom: 20px;
}

.text__container p {
	margin-right: 10px;
	color: #434559;
}

.text__container img {
	width: 2vw;
}

.training__purchased {
	margin-right: 3%;
}

.purchased__title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3%;
}

.button__carousel {
	width: 9.5vw;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.button__one {
	background-color: #0A9657;
	width: 2.9vw;
	height: 1vh;
	-webkit-transform: skew(-30deg);
	transform: skew(-30deg);
}

.button__two {
	background-color: #C3C3C3;
	width: 2.9vw;
	height: 1vh;
	-webkit-transform: skew(-30deg);
	transform: skew(-30deg);
}

.button__three {
	background-color: #C3C3C3;
	width: 2.9vw;
	height: 1vh;
	-webkit-transform: skew(-30deg);
	transform: skew(-30deg);
}

.purchased__advancement {
	background-image: linear-gradient(-25deg, rgba(0, 230, 123, 0.7), rgba(3, 101, 15, 0.7));
	mix-blend-mode: normal;
	box-shadow: 0px 16px 47px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	width: 23.55vw;
	height: 20vw;
	display: flex;
	flex-direction: column;
}

.advancement__img {
	background: url("../../assets/img/background-purchased.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 9vw;
}

.purchased__advancement__text {
	margin: 0% 5%;
	display: flex;
	height: 11vw;
	flex-direction: column;
	justify-content: space-evenly;
}

.text__concentration span {
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 0.37px;
	background-color: rgb(255, 213, 17, 14.89%);
	border-radius: 18.5px;
	display: inline-block;
	padding: 1px 3%;
}

.text__discover {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.52px;
}

.text__paragraph {
	font-size: 10px;
	letter-spacing: 0.37px;
	font-weight: lighter;
	line-height: 180%;
}

.text__create {
	font-size: 10px;
	font-weight: lighter;
	letter-spacing: 0.37px;
	color: #A4A4A4;
}

.text__heart {
	display: flex;
}

.text__heart img {
	height: 0.7vh;
}

.text__heart img:not(:last-child) {
	padding-right: 4px;
}


.training__finished {
	width: 23vw;
}

.finished__title {
	margin-bottom: 10%;
}

.finished__background {
	background: url("../../assets/img/background-test.png");
	background-size: 100% 100%;
	width: 100%;
	height: 5vw;
}

.finished__advancement {
	background-color: white;
	border-radius: 8px;
}

.finished__advancement p {
	color: #3E3E3E;
	font-size: 14px;
	letter-spacing: 0.44px;
}

.finished__advancement__text {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 8vh;
}

.finished__advancement__text img {
	width: 4vw;
}